
Kagic/Kagic_UI/obj/

Kagic/Kagic_BL/obj/

Kagic/Kagic_DAL/obj/

Kagic/Kagic_Entities/obj/

Kagic/Kagic_BL/bin/

Kagic/Kagic_DAL/bin/

Kagic/Kagic_Entities/bin/

Kagic/Kagic_UI/bin/

Kagic/.vs/Kagic/v17/.suo

Kagic/.vs/Kagic/DesignTimeBuild/.dtbcache.v2

Kagic/.vs/Kagic/v17/.futdcache.v1
Kagic/Kagic_DAL/Kagic_DAL.csproj
